<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-6">
            <h1>{{pageHeader.title}}<small>&nbsp;{{pageHeader.strapline}}</small></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="row list-group">
            {{#each locations}}
                <div class="col-xs-12 list-group-item">
                    <h4><a href="/location">{{this.name}}</a><small>&nbsp;{{outputRating this.rating}} </small><span class="badge pull-right badge-default">{{this.distance}}</span></h4>
                    <p class="address">{{this.address}}</p>
                    <p>
                    {{#each facilities}}
                        <span class="label label-warning">{{this}}</span>
                    {{/each}}
                    </p>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <p class="lead">Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.</p>
    </div>
</div>